<div class="container-md col-md-8 mt-1">
    <div class="container-md col-auto rounded-3 border border-2 mb-4">
        <form id="newpostForm" class="needs-validation" novalidate>
            <div class="row mb-2">
                <div class="text-dark mt-2 mb-2 fs-2">Написать новый пост</div>
            </div>
            <div class="row mb-2">
                <div class="col-md-8">
                    <label for="postName" class="form-label">Название</label>
                    <input type="text" class="form-control" id="postName" pattern="^.{5,}$" required>
                    <div class="invalid-feedback">
                        <div class="col-12 mb-2">Пожалуйста, введите название вашего поста.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="readingTime" class="form-label">Время чтения</label>
                    <input type="text" class="form-control" id="readingTime" pattern="^[0-9]\d*$" placeholder="0">
                    <div class="invalid-feedback">
                        <div class="col-12 mb-2">Пожалуйста, введите корректное время чтения.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6 mb-2 mb-auto d-none">
                    <label for="communities" class="form-label">Группа</label>
                    <select class="form-select" id="communities" autocompleted="">
                        <option value="0" selected>---</option>

                    </select>
                </div>
                <div class="col-md-12">
                    <label for="tags" class="form-label">Тэги</label>
                    <select class="form-select" multiple aria-label="multiple select example" id="tags" required>
                    </select>
                    <div class="invalid-feedback">
                        <div class="col-12 mb-2">Пожалуйста, выберите тэги для вашего поста.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 mb-2 mt-auto">
                    <label for="image" class="form-label">Ссылка на картинку</label>
                    <input type="text" class="form-control" pattern="^(http|https):\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?$" id="image">
                    <div class="invalid-feedback">
                        <div class="col-12 mb-2">Пожалуйста, введите корректную ссылку.</div>
                    </div>
                </div>
            </div>            
            <div class="row mb-2">
                <div class="col-12 mb-2 mt-auto overflow-auto">
                    <label for="mainText" class="form-label">Текст</label>
                    <textarea class="form-control" id="mainText" rows="6" minLength ="5" required></textarea>
                    <div class="invalid-feedback">
                        <div class="col-12 mb-2">Пожалуйста, введите текст для вашего поста.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="text-dark mt-2 mb-2 fs-3">Адрес</div>
            </div>
            <div class="row mt-3 mb-3 justify-content-end">
                <div class="col-md-auto">  
                    <button type="submit" class="btn btn-primary" id="saveBtn">Создать пост</button>
                </div>
            </div>       
        </form>
    </div>
</div>

<nav class="navbar align-bottom fixed-bottom bg-light border-top border-3 mt-5">
    <span class="navbar-text ms-5">© 2022 – Блог №415</span>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-0MuLTzl8ZmebD5p84W8VxcFHeGeSxx+ljq/gDDfB9tkB4roTAtuq2ZqGrgIvNmZlnUBpF5WN8ZIFBiY2HcVkDw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-H+K7U5CnXl1x2+qGGuzJrx3lUbqtS0BwxUu9BSz5pkA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-TSI8Ysm3cjXZ/KLbY7uZ87YbdpZz/7+YYdRu0ki3zTpFW+HxGJ5zF5vY1avq/KzGK1DOiRR+MivvAdNx5XMQbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/views/newpostFetch.js"></script>