<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Homepage</title>
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
<div class="fixed-top overflow-auto" style="height: 900px">
    <nav class="navbar navbar-expand-lg shadow p-3 mb-3">
        <a class="navbar-brand h-25 ms-5" href="#">   Блог №415</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link active text-dark" aria-current="page">Авторы</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-dark" aria-current="page">Группы</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Профиль
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" id="profileBtn">Профиль</a></li>
                        <li><a class="dropdown-item" href="#" id="logoutBtn">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-md col-md-8 mt-1">
        <div class="row mt-3 justify-content-end mb-2">
            <div class="col-auto">  
                <button type="submit" class="btn btn-primary d-none" id="PostBtn" >Написать пост</button>
            </div>
        </div>
        <div class="container-md col-auto rounded-3 border border-2 mb-4">
            <div class="row bg-light mb-3 border-bottom border-2">
                <div class="text-dark mt-1 mb-1">Фильтры</div>
            </div>
            <form id="filterForm" novalidate>
                <div class="row mb-2">
                    <div class="col-md-6 ">
                        <label for="authorName" class="form-label">Поиск по имени автора</label>
                        <input type="email" class="form-control" id="authorName" placeholder="имя_автора">
                    </div>
                    <div class="col-md-6">
                        <label for="tags" class="form-label">Поиск по тэгам</label>
                        <select class="form-select" multiple aria-label="multiple select example" id="tags">
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6 col-lg-4 mb-2 mt-auto">
                        <label for="sorting" class="form-label">Сортировать</label>
                        <select class="form-select" id="sorting" autocompleted="">
                          <option value="0" selected>---</option>
                          <option value="CreateDesc">По дате создания(сначала новые)</option>
                          <option value="CreateAsc">По дате создания(сначала старые)</option>
                          <option value="LikeAsc">По лайкам(сначала наименьшие)</option>
                          <option value="LikeDesc">По лайкам(сначала наибольшие)</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-2 mb-2 mt-auto">
                        <label for="readingTimeFrom" class="form-label">Время чтения от</label>
                        <input type="email" class="form-control" id="readingTimeFrom">
                    </div>
                    <div class="col-md-3 col-lg-2 mb-2 mt-auto">
                        <label for="readingTimeTo" class="form-label">Время чтения до</label>
                        <input type="email" class="form-control" id="readingTimeTo">
                    </div>
                    <div class="col-md-auto mt-auto mb-2 mt-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="onlyMyCommunities">
                            <label class="form-check-label" for="onlyMyCommunities">Только мои группы</label>
                        </div>
                    </div>
                    <div class="col-md-auto mb-2 mt-auto justify-content-end">
                        <div class="col-auto col-12">  
                            <button type="submit" class="btn btn-primary" id="FilterBtn">Применить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="postsContainer"> </div>
        <div class="row">
            <ul class="pagination col-6 mt-auto mb-0" id="pagination">
                <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous" id="leftPage">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item active"><span class="page-link" href="#"  id="firstPage">1</span></li>
                <li class="page-item" ><a class="page-link" href="#" id="secondPage">2</a></li>
                <li class="page-item" ><a class="page-link" href="#" id="thirdPage">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" id="rightPage">
                    <span aria-hidden="true" >&raquo;</span>
                </a>
                </li>
            </ul>
            <div class="col-6 justify-content-end mt-auto mb-auto" id="pageSizeContainer">
                <label for="pageSize" class="form-label"> Число постов на странице:</label>
                <select id="pageSize" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5" selected>5</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="navbar fixed-bottom bg-light border-top border-3">
    <span class="navbar-text ms-5">© 2022 – Блог №415</span>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0d40c0bb56.js" crossorigin="anonymous"></script>
<script src = "../scripts/homepage.js"></script>
<!-- <script src="../scripts/NavBar.js"></script> -->
</body>
</html>
